.left {
    width:100%;
   /* float: left;*/
}

    .left table {
        background: #E0ECFF;
    }

    .left td {
        background: #eee;
    }

.right {
    float: right;
    width: 100%;
}
    .right table {
        background: #E0ECFF;
        width: 100%;
    }

    .right td {
        background: #fafafa;
        color: #444;
        text-align: center;
        padding: 2px;        
    }

    .right td {
        background: #E0ECFF;
        text-align: center;
    }

        .right td.drop {
            background: #fafafa;
            width: 250px;
            
        }

        .right td.over {
            background: #FBEC88;
        }

.item {
    text-align: center;
    border: 1px solid #499B33;
    background: #fafafa;
    color: #444;
    width: 250px;
}

.assigned {
    border: 1px solid #BC2A4D;
}

.trash {
    background-color: red;   
}
.title {
    width: 200px;
    
}
